@import '../scss/variables.scss';
// .ignatica-confirmation-modal{
    .modal-footer {
        border-top: none;
        background: $gray-100;
        display: flex;
        justify-content: space-between;
        button{
            border-radius: 0;
            width: 100px;
            font-size: 0.65rem;
        }
    }
    .modal-body{
        padding: 0 1.8rem 1.8rem;
        padding-top:0 ;
    }
    .message-text{
        font-weight: $font-light;
    }
    .modal-header{
        border-bottom: none;
        padding: 1.8rem 1.8rem 0;
    }
    .modal-title{
        font-size: 1rem;
        margin-bottom: 0.5rem;
        font-weight: $font-medium;
    }
// }
.modal-backdrop {
    background: $blue-900;
}