@import '../../../../../assets/scss/plan.scss';

label {
  font-size: 0.85rem;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0.2rem;
}

.pm-label {
    font: normal normal normal 16px/19px Rubik;
    letter-spacing: 0px;
    color: #153C65;
    opacity: 1;
}

.input-group-text {
  font-size: 0.8rem;
}
.prm-mod-wrapper table {
  border: 1px solid #e9ecef;
  td {
    padding: 0.5rem;
    .form-group {
      margin-bottom: 0;
    }
  }
}