<section class="forgot-pwd-block" *ngIf="!resetDone">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 bg-white flex-column">
        <form
          class="forgot-pwd-form"
          name="form"
          #f="ngForm"
          novalidate
          (ngSubmit)="f.form.valid && sendPasswordResetLink()"
        >
          <img
            class="mb-5 ig-logo"
            src="../../assets/images/ig-logo.svg"
            alt="Ignatica"
            title="Ignatica"
          />
          <div class="card p-5 shadow-lg text-left login-sec">
            <h1 class="h3 mb-3 font-weight-normal text-left">
              {{ "login.resetPassword.title" | translate }}
            </h1>
            <div class="form-group">
              {{ "login.resetPassword.resetPwdInfo" | translate }}
            </div>
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >{{ "login.resetPassword.usernameEmail" | translate }}
                <span class="text-danger">*</span></label
              >
              <input
                type="userfield"
                class="form-control"
                name="userfield"
                [(ngModel)]="forgotPasswordModel.userfield"
                #userfield="ngModel"
                [ngClass]="{
                  'is-invalid': f.submitted && userfield.invalid
                }"
                required
              />
              <div *ngIf="error" class="text-danger">{{ error }}</div>
              <div
                *ngIf="f.submitted && userfield.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="userfield.errors.required" class="text-danger">
                  {{ "login.changePassword.requiredEror" | translate }}
                </div>
              </div>
            </div>
            <div>
              <div class="form-group">
                <button
                  [disabled]="loading"
                  class="btn btn-primary btn-block btn-login rounded-0"
                >
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1 text-white"
                  ></span
                  >{{ "login.resetPassword.sendLink" | translate }}
                </button>
              </div>
              <div class="form-group">
                <button
                  [disabled]="loading"
                  class="
                    btn btn-outline-secondary btn-block btn-login
                    rounded-0
                  "
                  (click)="onSubmit()"
                >
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1 text-white"
                  ></span
                  >{{ "login.resetPassword.cancel" | translate }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6 px-0 d-none d-md-block banner-sec">
        <img
          src="../../assets/images/ignatica-login.jpg"
          alt="Banner Image"
          title="Banner Image"
        />
      </div>
    </div>
  </div>
</section>
<section class="forgot-pwd-block" *ngIf="resetDone">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 bg-white flex-column">
        <form class="forgot-pwd-form">
          <div class="card p-5 shadow-lg text-left login-sec">
            <h1 class="h3 mb-3 font-weight-normal text-left">
              {{ "login.resetPassword.title" | translate }}
            </h1>
            <div class="form-group">
              {{ "login.resetPassword.emailSent" | translate }}
            </div>
            <div>
              <div class="form-group">
                <button
                  [disabled]="loading"
                  class="btn btn-primary btn-block btn-login rounded-0"
                  (click)="onSubmit()"
                >
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1 text-white"
                  ></span
                  >{{ "login.resetPassword.done" | translate }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6 px-0 d-none d-md-block banner-sec">
        <img
          src="../../assets/images/ignatica-login.jpg"
          alt="Banner Image"
          title="Banner Image"
        />
      </div>
    </div>
  </div>
</section>
<footer>
  <p>
    <span class="copyright text-white"
      >Copyright © 2021 <i class="bullet"></i> Powered by Ignatica ®</span
    >
  </p>
</footer>
