@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/card.scss";

.card {
    .card {
        border-radius: 0;
        box-shadow: none;
        padding: 1rem;
    }
}