<div class="modal-header flex-column">
    <h6 class="modal-title" id="modal-basic-title" style="text-transform: capitalize">
      {{ title }}
    </h6>
    <small *ngIf="data.subTitle" class="info-text pb-2">{{subTitle}}</small>
  </div>
  <!-- loader -->
  <div class="modal-body">
    <ng-template #target></ng-template>
  </div>
  
  <div class="modal-footer bg-light justify-content-between">
     <button class="btn btn-outline-secondary btn-sm" (click)="close()">{{ labels.button.first }}</button>
      <button class="btn btn-primary btn-sm" ngbAutofocus (click)="confirm()">{{ labels.button.second }}</button>
  </div>