<section>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            <i class="planDetailsIcon">
              <svg xmlns="http://www.w3.org/2000/svg" width="22.683" height="22" viewBox="0 0 22.683 22">
                <g transform="translate(1.342 1)">
                  <g transform="translate(-2 -2)">
                    <path class="a" d="M12,2,2,7l10,5L22,7Z" />
                    <path class="b" d="M2,17l10,5,10-5" />
                    <path class="b" d="M2,12l10,5,10-5" />
                  </g>
                </g>
              </svg>
            </i>
            {{ "plan.details.title" | translate }}
          </h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form #detailForm="ngForm">
              <div class="row">
                <div class="col-12">
                  <div class="form-group" [ngClass]="{
                      'is-invalid': saveClicked && !plan.name
                    }">
                    <label for="example-text-input" class="form-control-label">{{ "plan.details.name" | translate }}
                      <span class="text-danger">*</span></label>
                    <input class="form-control"
                    ngbTooltip="{{'plan.details.tooltipTextName' | translate}}"
                    placement="top"
                     [disabled]="disableControl" type="text" name="name"
                      [(ngModel)]="plan.name" #name="ngModel" required
                      placeholder="{{ 'plan.details.namePH' | translate }}" />
                    <div *ngIf="saveClicked && !plan.name" class="invalid-feedback">
                      {{ "plan.details.planRequired" | translate }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">{{ "plan.details.description" | translate
                      }}</label>
                    <textarea class="form-control"
                    ngbTooltip="{{'plan.details.tooltipTextDescription' | translate}}" placement="top"
                     [disabled]="disableControl" type="text" placeholder="{{
                        'plan.details.descriptionPH' | translate
                      }}" [(ngModel)]="plan.description" name="description"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group" [ngClass]="{
                    'is-invalid': saveClicked && planCode.invalid
                  }">
                    <label for="example-text-input" class="form-control-label">{{ "plan.details.planCode" | translate }}
                      <span class="text-danger">*</span></label>
                    <input class="form-control" 
                    ngbTooltip="{{'plan.details.tooltipPlanCode' | translate}}" placement="top"
                    [disabled]="disableControl" type="text" name="planCode"
                      [(ngModel)]="plan.planCode" #planCode="ngModel" required
                      placeholder="{{ 'plan.details.planCodePH' | translate }}" />
                    <div *ngIf="saveClicked && planCode.invalid">
                      <div *ngIf="planCode?.errors?.required" class="invalid-feedback">
                         {{ "plan.details.planRequired" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
                <!--<div class="col-5">
                  <div
                    class="form-group"
                    [ngClass]="{
                      'is-invalid': saveClicked && integerPlanCode.invalid
                    }"
                  >
                    <label for="example-text-input" class="form-control-label"
                      >{{ "plan.details.integerCode" | translate }}
                      <span class="text-danger">*</span></label
                    >
                    <input
                      class="form-control"
                      [disabled]="disableControl"
                      type="number"
                      name="integerPlanCode"
                      [(ngModel)]="plan.integerPlanCode"
                      placeholder="{{ 'plan.details.intCodePH' | translate }}"
                      #integerPlanCode="ngModel"
                      pattern="^[1-9][0-9]*$"
                      required
                    />
                    <div *ngIf="saveClicked && integerPlanCode.invalid">
                      <div
                        *ngIf="integerPlanCode?.errors?.required"
                        class="invalid-feedback"
                      >
                        {{ "plan.details.requiredField" | translate }}
                        {{ "plan.details.integerCode" | translate }}
                      </div>
                      <div
                        *ngIf="integerPlanCode?.errors?.pattern"
                        class="invalid-feedback"
                      >
                        {{ "plan.details.integerCodeValidation" | translate }}
                      </div>
                    </div>
                  </div>
                </div>-->
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group" [ngClass]="{
               'is-invalid':
               publishClicked && (effectiveStartDate.invalid || (generalConfiguration.effectiveEndDate && generalConfiguration.effectiveStartDate  && generalConfiguration.effectiveStartDate >= generalConfiguration.effectiveEndDate))
             }">
                    <label class="form-control-label">{{"plan.terms.effectiveDate" | translate }}
                      <span class="text-danger">*</span></label>
                    <div class="datePicker min-max-group">
                      <div class="input-group">
                        <input class="form-control" 
                        ngbTooltip="{{'plan.details.tooltipTextEffectiveDate' | translate}}" placement="top"
                       
                        placeholder="yyyy-mm-dd"
                         name="effectiveStartDate"
                          [(ngModel)]="effectiveStartDateDisplay"
                          ngbDatepicker required
                           #ds="ngbDatepicker"
                          #effectiveStartDate="ngModel" [disabled]="disableControl" onkeydown="return false">
                        <div class="input-group-append" (click)="!disableControl ? ds.toggle():null">
                          <i-feather name="calendar"></i-feather>
                        </div>
                      </div>
                      <span class="seperator">-</span>
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="effectiveEndDate"
                          [(ngModel)]="effectiveEndDateDisplay" ngbDatepicker #de="ngbDatepicker"
                          #effectiveEndDate="ngModel" [disabled]="disableControl" onkeydown="return false">
                        <div class="input-group-append" (click)="!disableControl ? de.toggle():null">
                          <i-feather name="calendar"></i-feather>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="publishClicked && (effectiveStartDate.invalid)" class="invalid-feedback d-block">
                      {{ "plan.requiredField" | translate
                      }}{{"plan.terms.effectiveStartDate" |
                      translate }}
                    </div>
                    <div
                      *ngIf="publishClicked && generalConfiguration.effectiveEndDate && generalConfiguration.effectiveStartDate  && generalConfiguration.effectiveStartDate >= generalConfiguration.effectiveEndDate "
                      class="invalid-feedback d-block">
                      {{"plan.terms.effectiveEndDateError" | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="product?.screenCode === 'kfbtvvcl'">
                <div class="col-12">
                  <div class="form-group justify-content-between d-flex">
                    <label class="switch">
                      <input type="checkbox"
                      ngbTooltip="{{'plan.details.tooltipTextPolicyTerm' | translate}}" placement="top"
                      
                       [(ngModel)]="nonExpiryTerm" name="nonExpiryTerm"
                        [disabled]="disableControl" (ngModelChange)="onNonExpiryTermChange($event)">
                      <span class="slider round"></span>
                    </label>
                    <label class="form-control-label">{{"plan.terms.nonExpiryTerm" | translate
                      }}</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group" [ngClass]="{
      'is-invalid':
      publishClicked && policyTermYears.invalid
    }">
                    <label class="form-control-label" [ngClass]="{'disabled':nonExpiryTerm}">{{"plan.terms.policyTerm" |
                      translate
                      }} <span class="text-danger">*</span></label>
                    <div class="input-group">
                      <input class="form-control"
                      ngbTooltip="{{'plan.details.tooltipTextPolicyTerm' | translate}}" placement="top"
                       [disabled]="disableControl || nonExpiryTerm"
                       type="number"
                        placeholder="1"  [(ngModel)]="generalConfiguration.policyTermYears"
                         #policyTermYears="ngModel"
                        name="policyTermYears"  [min]="0" [max]="120">
                      <div class="input-group-append" [ngClass]="{'disabled':nonExpiryTerm}">
                        <span class="input-group-text">Year(s)</span>
                      </div>
                      <div *ngIf="publishClicked && policyTermYears?.errors?.required" class="invalid-feedback">
                        {{ "plan.requiredField" | translate }}{{"plan.terms.policyTerm" |
                        translate
                        }}
                      </div>
                      <div *ngIf="publishClicked && (policyTermYears?.errors?.min || policyTermYears?.errors?.max)"
                        class="invalid-feedback">
                        {{ "plan.terms.policyTermError" | translate }}
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group" [ngClass]="{
     'is-invalid':
     publishClicked && ( (!generalConfiguration.policyCurrencies) ||generalConfiguration.policyCurrencies?.length <= 0)
   }">
                    <label class="form-control-label">{{"plan.terms.policyCurrencies" | translate
                      }}<span class="text-danger">*</span></label>
                    <ng-select 
                    [(ngModel)]="policyCurrencies"
                    ngbTooltip="{{'plan.details.tooltipTextPolicyCurrency' | translate}}" placement="top"
                    
                     name="policyCurrencies" [multiple]="false"
                      bindLabel="name" [disabled]="disableControl" required bindValue="value" 
                      [items]="currencies"
                      (ngModelChange)="onPolicyCurrencyChanged($event)"

                      placeholder="{{'plan.terms.policyCurrencies' | translate }}" [clearable]="false">
                    </ng-select>
                    <div
                      *ngIf="publishClicked && ( (!generalConfiguration.policyCurrencies) ||generalConfiguration.policyCurrencies?.length <= 0)"
                      class="invalid-feedback d-block">
                      {{ "plan.requiredField" | translate }}{{"plan.terms.policyCurrencies"
                      |
                      translate }}
                    </div>
                  </div>
                 </div>
              </div>

              <div class="row">
                <div class="col-12" *ngIf="product.category == 'IG_CATEGORY_GROUP'">
                  <div class="form-group">
                    <label class="switch">
                      <input type="checkbox" [(ngModel)]="generalConfiguration.isContributionPlan"
                        [disabled]="disableControl" #isContributionPlan="ngModel" name="isContributionPlan">
                      <span class="slider round"></span>
                    </label>
                    <label class="form-control-label">{{"plan.terms.isContributionPlan" | translate
                      }}</label>
                  </div>
                </div>
                <div class="col-12" *ngIf="product.category == 'IG_CATEGORY_GROUP'">
                  <div class="form-group" [ngClass]="{'is-invalid':publishClicked && MinNumberInsured?.errors?.required}">
                    <label class="form-control-label">{{"plan.terms.minNumberInsured" | translate
                      }} <span class="text-danger">*</span></label>
                    <input required class="form-control" [disabled]="disableControl" type="number" 
                    placeholder="1" 
                      [(ngModel)]="generalConfiguration.minNumberInsured" #MinNumberInsured="ngModel"
                      name="MinNumberInsured">
                    <div *ngIf="publishClicked && MinNumberInsured.errors.required" class="invalid-feedback">
                      {{ "plan.requiredField" | translate
                      }}{{"plan.terms.minNumberInsured" |
                      translate }}
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{
     'is-invalid':
     saveClicked && (coolingOffPeriodDays.invalid || coolingOffPeriodDays?.errors?.min || coolingOffPeriodDays?.errors?.max)
   }">
                    <label for="example-text-input" class="form-control-label">{{"plan.terms.coolOffPeriod"
                      |
                      translate }}</label>
                    <div class="input-group">

                      <input class="form-control" type="number" name="coolingOffPeriodDays" [disabled]="disableControl"
                        [(ngModel)]="coolingOffPeriodDaysVal" #coolingOffPeriodDays="ngModel" [min]="0" [max]="150"
                        placeholder="0" />
                      <div class="input-group-append">
                        <span class="input-group-text">Day(s)</span>
                      </div>
                    </div>
                    <div
                      *ngIf="saveClicked && (coolingOffPeriodDays.invalid || coolingOffPeriodDays?.errors?.min || coolingOffPeriodDays?.errors?.max)"
                      class="invalid-feedback">
                      {{ "plan.terms.coolOffPeriodError" | translate }}
                    </div>
                  </div>
                </div>
              </div> -->

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>