label {
  font-size: 0.85rem;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0.2rem;
}

tbody {
  display: block;
  max-height: 380px;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.col-id {
  width: 5%;
}

.col-coverageYear {
  width: 15%;
}

.col-surrenderChargeAmount {
  width: 15%;
}
.input-group-text {
  font-size: 0.8rem;
}
