$primary-color: #476a9e;
.global-parameters {
  .mat-form-field {
    width: 232px !important;
    margin: 5px 10px !important;
  }
  .global-parameters__header {
    display: inline-flex;
    color: $primary-color;
    margin: 5px 10px;
    border-bottom: 1px solid $primary-color;
  }
  .mat-slide-toggle {
    position: relative !important;
    top: 1.4em !important;
    width: 232px !important;
    margin: 5px 10px !important;
  }
}
label {
  font-size: 0.85rem;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0.2rem;
}
.ng-select span {
  //box-sizing: border-box;
  font-size: 0.85rem !important;
  font-weight: 500 !important;
}
.ng-select-container {
  font-size: 0.85rem !important;
  font-weight: 500 !important;
}

.input-group-text {
  font-size: 0.8rem;
}
