@import "../assets/scss/variables.scss";

header {
  .navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
  }
  .navbar {
    .navbar-toggler {
      top: 0.25rem;
      right: 1rem;
    }
  }
  .navbar-nav {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    .dropdown-menu {
      position: absolute;
      left: auto;
      right: 0;
    }
  }
  .ig-logo {
    height: 2.5rem;
  }
  .dropdown-toggle {
    i-feather {
      width: 30px !important;
      height: 30px !important;
      color: $color-primary;
      &.user-arrow {
        width: 20px !important;
      }
    }
    &::after {
      display: none;
    }
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: $white;
    padding: 5px;
  }
}
.app-wrapper {
  padding-top: 64px;
}
::ng-deep .toast-container {
  right: 30px;
  .toast {
    margin: 1rem;
    padding: 0;
    max-width: 360px;
    width: 100%;
    border: 0;
    min-width: 250px;
  }
  .warning {
    .toast-header {
      color: $gray-900;
      background-color: $red-200;
      border-color: #f5c6cb;
    }
    .toast-body {
      background: $red-50;
    }
  }
  .success {
    .toast-header {
      color: $blue-900;
      background-color: $green-200;
      border-color: #c3e6cb;
    }
    .toast-body {
      background: $green-50;
    }
  }
}
