@import "../../../../../../assets/scss/variables.scss";
table {
  margin: 0;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  th {
    vertical-align: middle;
    padding-top: 0;
  }
  tfoot {
    background-color: $gray-100;
    td {
      padding: 0.75rem 24px;
    }
  }
}
tbody {
  display: block;
  max-height: calc(100vh - 400px);
  overflow: auto !important;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  vertical-align: middle;
}

.id {
  width: 9%;
}
.selected {
  width: 8%;
  text-align: center;
}

.col-id {
  width: 9%;
  text-align: center;
}

.hidden {
  display: none !important;
}

.word-space-break {
  white-space: normal !important;
  word-wrap: break-word;
}
