@import "../../../../../../assets/scss/variables.scss";

.heading {
  text-align: left;
  letter-spacing: 0px;
  color: $color-primary;
  opacity: 1;
  font: normal normal 200 20px/33px Rubik;
}
h5 {
  font-weight: 400;
}
::ng-deep {
  .card-formula {
    &.selected {
      background: $blue-50;
      border: 1px solid $blue-600;
    }
    border-radius: 10px;
    .card-body {
      padding: 0.75rem;
    }
    .form-check {
      font-family: "RobotoSlab-Regular", Rubik;
      font-size: 21px;
    }
    .footnote-text {
      line-height: 1.2rem;
      p {
        font-weight: 100;
        color: $gray-600;
        margin: 0;
        font-size: 14px;
      }
    }
  }
}
