@import '../../../../../assets/scss/plan.scss';
label {
  font-size: 0.85rem;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0.2rem;
}

.input-group-text {
  font-size: 0.8rem;
}