// @import '../../../../../assets/scss/plan.scss';

label {
  font-size: 0.85rem;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0.2rem;
}

.list-group-item {
  font-size: 0.85rem;
  font-weight: 500;
}
.pm-label {
  font-size: 0.875rem;
  font-weight: 600;
}
