<section class="mt-2">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <h4 class="card-title mr-auto">
              <i-feather name="dollar-sign"></i-feather>
              {{ "plan.financialChanges.title" | translate }}
            </h4>
            <div class="btn-group" role="group">

              <button class="btn btn-primary btn-sm" (click)="showFaceAmountRules()">
                <img src="../../../../../assets/images/Rules-white.svg" /> {{"plan.financialChanges.faceAmountTitle" |
                translate}}
              </button>
              <button class="btn btn-primary btn-sm ml-1" *ngIf="showFundAllocation"
                (click)="showFundAllocationRules()">
                <img src="../../../../../assets/images/Rules-white.svg" /> {{ "plan.financialChanges.fundTitle" |
                translate
                }}
              </button>
            </div>
          </div>
        </div>

        <div class="card-content">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>